<link rel="stylesheet" href="/static/styles/navbar.css">
<header>
    <nav>
        <a href="/"><p>Home</p></a>
        <a href="/about"><p>About</p></a>
        <a href="/contact"><p>Contact</p></a>
    </nav>
</header>