{% import "global/macros" as macros %}
{% extends "global/base" %}
{% block content %}
    {% include "global/header" %}
    <main>
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet</p>
        {{ macros::render_posts(posts=posts) }}
    </main>
{% endblock content %}