{% extends "base" %}
{% block content %}
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/2048px-Hamburger_icon.svg.png" alt="burger">
    <div>
        <h1>Hello, {{ name }}</h1>
        <p>This Rocket stuff is pretty cool</p>
    </div>
{% endblock content %}