{% extends "global/base" %}
{% block content %}
<link rel="stylesheet" href="/static/styles/post.css">
 <main>
    <p class="poster">u/{{ poster }}</p>
    <h1>{{ post.title | default(value='Test')}}</h1>
    <img src="/static/content/{{ post.image }}" alt="">
    <p>{{ post.body }}</p>
 </main>
{% endblock content %}
