{% extends "global/base" %}
{% block content %}
{% include "global/header" %}
<main>
    <form action="/api/register" method="post" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="/login">Login Here</a></p>
</main>
{% endblock content %}