{% extends "global/base" %}
{% block content %}
{% include "global/header" %}
<h1> Create a new post </h1>
<form action="/api/upload" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Some Text">
    <input type="file" name="image" accept="image/png, image/jpg, text/txt">
    <button type="submit">Submit</button>
</form>
{% endblock content %}  