main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20vh;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    border: 1px solid var(--theyellowone);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.post img {
    width: 100%;
    max-width: 600px;
    border-radius: 1rem;
}